@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.page_title {
    @apply text-3xl sm:text-4xl md:text-6xl font-bold m-10 dark:text-white
}

/* Style for the Contact Us */

.contact_us_box {
    @apply flex flex-col border-4 bg-gray-300 rounded-lg p-4 items-center
    dark:text-white dark:bg-gray-700 dark:border-gray-800
}

.contact_us_box_title {
    @apply font-bold text-3xl text-center mb-2
}

.contact_us_tab_name {
    @apply p-1 text-black bg-gray-300 pl-2 pr-2 sm:pl-6 sm:pr-6 md:pl-16 md:pr-16 lg:pl-28 lg:pr-28 hover:bg-gray-400
    dark:text-white dark:bg-gray-700 dark:hover:bg-gray-600
}

.contact_us_tab_name_active {
    @apply p-1 text-white bg-gray-500 pl-2 pr-2 sm:pl-6 sm:pr-6 md:pl-16 md:pr-16 lg:pl-28 lg:pr-28
    dark:text-white dark:bg-gray-900
}

.contact_us_form_row {
    @apply w-full flex flex-col justify-center items-center mt-1
    dark:text-white
    sm:flex-row sm:mt-3
}

.contact_us_form_label {
    @apply w-full float-left mr-2 sm:w-1/4 sm:ml-3
}

.contact_us_form_input_col {
    @apply w-full float-left sm:w-3/4 sm:mr-3
}

.contact_us_form_input {
    @apply rounded-md p-1 text-black w-full
}

.contact_us_form_submit_button {
    @apply rounded-sm p-1 bg-gray-400 m-1 mt-3 hover:bg-gray-200
    dark:bg-gray-800 dark:hover:bg-gray-600
}

/* Style for the About Us */

.about_us_row {
    @apply flex flex-row items-center p-2
}

.about_us_dot {
    @apply rounded-full h-6 w-6 bg-gray-100 flex-none border-4 border-gray-700
}

.about_us_image {
    @apply h-14 md:h-28 w-auto rounded-xl border-2 border-gray-700 m-1
}

.about_us_topic {
    @apply text-2xl font-bold w-96
}

.about_us_paragraph {
    @apply text-lg italic text-justify m-1
}