@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.page_title {
    @apply text-3xl sm:text-4xl md:text-6xl font-bold m-10 dark:text-white
}

/* Style for the Contact Us */

.contact_us_box {
    @apply flex flex-col border-4 bg-gray-300 rounded-lg p-4 items-center
    dark:text-white dark:bg-gray-700 dark:border-gray-800
}

.contact_us_box_title {
    @apply font-bold text-3xl text-center mb-2
}

.contact_us_tab_name {
    @apply p-1 text-black bg-gray-300 pl-2 pr-2 sm:pl-6 sm:pr-6 md:pl-16 md:pr-16 lg:pl-28 lg:pr-28 hover:bg-gray-400
    dark:text-white dark:bg-gray-700 dark:hover:bg-gray-600
}

.contact_us_tab_name_active {
    @apply p-1 text-white bg-gray-500 pl-2 pr-2 sm:pl-6 sm:pr-6 md:pl-16 md:pr-16 lg:pl-28 lg:pr-28
    dark:text-white dark:bg-gray-900
}

.contact_us_form_row {
    @apply w-full flex flex-col justify-center items-center mt-1
    dark:text-white
    sm:flex-row sm:mt-3
}

.contact_us_form_label {
    @apply w-full float-left mr-2 sm:w-1/4 sm:ml-3
}

.contact_us_form_input_col {
    @apply w-full float-left sm:w-3/4 sm:mr-3
}

.contact_us_form_input {
    @apply rounded-md p-1 text-black w-full
}

.contact_us_form_input_green {
    @apply rounded-md p-1 text-black w-full bg-green-100 border-2 border-green-500
}

.contact_us_form_input_red {
    @apply rounded-md p-1 text-black w-full bg-red-100 border-2 border-red-500
}

.contact_us_form_error_message {
    @apply text-red-500 text-sm mt-1
}

.contact_us_form_submit_button {
    @apply rounded-sm p-1 bg-gray-400 m-1 mt-3 hover:bg-gray-200
    dark:bg-gray-800 dark:hover:bg-gray-600
}

/* Style for the About Us */

.about_us_row {
    @apply flex flex-col items-center justify-evenly md:flex-row
    dark:text-white dark:bg-gray-700
}

.about_us_image {
    @apply h-auto rounded-lg border-2 border-gray-700 mt-4
    max-w-xs sm:max-w-sm md:w-1/4
    dark:border-gray-200
}

.about_us_card_header {
    @apply bg-blue-500
}

.about_us_title {
    @apply font-extrabold text-2xl
    dark:text-white
}

.about_us_subtitle {
    @apply font-bold text-white
}

.about_us_paragraph {
    @apply text-lg italic text-justify w-5/6 mt-2 md:mr-4
}
